<div class="main-component">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 login-div">
          <div class="card shadow-2-strong outer-login-card" style="border-radius: 1rem">
            <div class="card-body p-5 text-center login-card">
              <h3 class="mb-3 mt-3 attendance-text">Welcome to Finance Manager</h3>
              
              <h4 class="my-4"></h4>
              <form [formGroup]="registrationForm" >
                <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input formControlName="firstname" matInput placeholder="Enter First Name" />
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input formControlName="lastname" matInput placeholder="Enter Last Name" />
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Username</mat-label>
                      <input formControlName="username" matInput placeholder="Enter Username" />
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                  </div>
                <div class="row">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Enter Email" />
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                      formControlName="password"
                      matInput
                      [type]="hide ? 'password' : 'text'"
                      placeholder="Enter Password"
                    />
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}
                    </mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                
                <div class="row text-center mx-0">
                  <button type="submit" [disabled]="!registrationForm.valid" 
                  (click)="register()" class="btn btn-primary btn-lg">Sign Up
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
  
