.mat-drawer-content{
   overflow: none !important;
}
.main-content{
   margin:20px;
}

.mat-icon {
   font-size: 20px;
}
.add-btn{
   font-size:25px;
}
.edit-btn{
   color: #0a4c81;
}
.delete-btn{ 
   color:red;
}
table, th, td {
   border-left: none;
   border-right: none;
 }
 .form-label{
   margin-top:10px;
   font-weight: bold;
 }

 .form-control, .form-select{
   line-height:2 !important;
 }

 .buttons{
   margin-top: 20%;
}

.card{
   border: .5px solid rgba(0, 0, 0, 0.38);
   box-shadow:  8px 8px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary{
   background-color: white;
   color:black;
   border:1px solid #0f6173;
 }

.btn-outline-secondary:hover {
   background-color: #006ba1;
   color:white;
   border:#006ba1;
 }

.modal{
   z-index: 9999 !important;
}

tr{
   height:50px !important;
   font-family: 'Poppins' !important;
 }

 select{
   line-height:10px;
 }

 input{
   border-bottom: 1px solid #d2d2d2 !important;
 }