<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width:20%">
        <div class="row header-row">
            <p class="sidenav-header">
                <span>
                    <img src="../../assets/analysis.png" style="height:30px;width:30px; margin-right: 10px;">
                </span> मेरो Finance</p>
        </div>
        <ul class="nav-item active" routerLinkActive="active-link">
            <a class="nav-link active" [routerLink]="['/main/dashboard']" routerLinkActive="active-link">
                <p class="sidebar-header">
                    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="bar_chart_4_bars"></mat-icon>
                    Dashboard
                </p>
            </a>
        </ul>
        <ul class="nav-item active" routerLinkActive="active-link">
            <a class="nav-link active" [routerLink]="['/main/expense']" routerLinkActive="active-link">
                <p class="sidebar-header">
                    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="calculate"></mat-icon>
                    Expenses
                </p>
            </a>
        </ul>
        <ul class="nav-item active" routerLinkActive="active-link">
            <a class="nav-link " [routerLink]="['/main/categories']" >
                <p class="sidebar-header">
                    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="category"></mat-icon>
                    Categories
                </p>
            </a>
        </ul>
        <ul class="nav-item active" routerLinkActive="active-link">
            <a class="nav-link " [routerLink]="['/main/income']" >
                <p class="sidebar-header">
                    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="account_balance"></mat-icon>
                    Income
                </p>
            </a>
        </ul>
        <ul class="nav-item active" routerLinkActive="active-link">
            <a class="nav-link " [routerLink]="['/main/investment']" routerLinkActive="active-link">
                <p class="sidebar-header">
                    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="monitoring"></mat-icon>
                    Investment
                </p>
            </a>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="row nav-row py-2">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <button type="button" mat-button (click)="drawer.toggle()">
                    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"
                        style="color:white"></mat-icon>
                </button>
                <button class="logout-btn px-4" type="button" mat-button (click)="logout()">
                    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="logout"
                        style="color:white"></mat-icon>
                    <span style="color:white">Logout</span>
                </button>
            </div>
        </div>
        <div class="row pages-row">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>