<div class="main-content">
    <div class="row d-flex flex-direction-row profile-text">
        <h1>
            <b>Account Information</b>
        </h1>
        <h4>
            Set Your Personal Information
        </h4>
    </div>
    
    <div class="row">
        <img class="profile-picture" src="{{profilePicture}}" >
        <form enctype="multipart/form-data">
            <div>
              <input type="file" id="profilePicture" (change)="onFileSelected($event)" required>
            </div>
          </form>
    </div>
    
    <div>
        <div class="row d-flex justify-content-between" [formGroup]="updateProfileForm">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input type="text" placeholder="" class="form-control"
                    formControlName="firstName" name="firstName" [(ngModel)]="userCredentials.firstName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <input type="text" placeholder="" class="form-control" 
                    formControlName="lastName" name="lastName" [(ngModel)]="userCredentials.lastName">
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-between" [formGroup]="updateProfileForm">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Username</label>
                    <input type="text" placeholder="" class="form-control" 
                    formControlName="username" name="username" [(ngModel)]="userCredentials.username">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="email" placeholder="" class="form-control" 
                    [disabled] formControlName="email" name="email" [(ngModel)]="userCredentials.email">
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-xl save-btn text-center" *ngIf="!updateProfileBoolean" (click)="toggleUpdateProfile()">
        Update
    </button>
    <button class="btn btn-xl save-btn text-center" *ngIf="updateProfileBoolean" (click)="updateProfile()">
        Save Changes
</button>

    <div class="row password-row"  [formGroup]="changePasswordForm">
        <h1>
            <b>Password</b>
        </h1>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Current Password</label>
                <input type="password" placeholder="Enter Current Password" class="form-control"
                    formControlName="currentPassword" name="currentPassword">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">New Password</label>
                <input type="password" placeholder="Enter New Password" class="form-control" formControlName="newPassword"
                    name="newPassword">
            </div>
        </div>
    </div>

    <button class="btn save-btn text-center" (click)="changePassword()">
            Update
    </button>   
</div>