.form-label{
    font-weight: bold;
}

.form-control{
    line-height: 2 !important;
    width: 155% !important
}

.buttons{
    margin-top: 20%;
}

.card{
    border: .5px solid rgba(0, 0, 0, 0.38);
    box-shadow:  8px 8px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary{
    background-color: white;
    color:black;
    border:1px solid #0f6173;
  }
  
  .btn-outline-secondary:hover {
    background-color: #006ba1;
    color:white;
    border:#006ba1;
  }