.example-container {
    width: 100%;
    height: 100vh;
    border: none;
    padding: none;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .nav-row{
    width:100%;
    padding: 0px;
    background-color: #0a4c81;
    color:white;
  }

  .card{
    margin:70px 20px 70px 20px;
    font-size:20px ;
  }

  .chart-container{
    margin-bottom:20px
  }

  .card-title{
    color:purple;
  }

  .card{
    border: .5px solid rgba(0, 0, 0, 0.38);
    box-shadow:  10px 10px 10px rgba(58, 102, 121, 0.1);
  }
  
  