  .card{
    margin:20px;
    font-size:30px ;
  }

  .card-title{
    color:rgb(37, 79, 108);;
    font-size:30px;
    font-family: cursive;
  }

  .card-header{
   background-color: teal;
   color: white;
  }

  .card-body{
    color:aqua
  } 
  .table-responsive{
    line-height: 40px;
  }